$black_262626: #262626;

html {
  border: 0;
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: rgba(255, 255, 255, .9);
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: block;
  box-sizing: border-box;
  background: rgba(205, 220, 255, .25);

  h1 {
    margin: 0;
  }

  h4 {
    font-style: italic;
    margin: 0;
    padding: 0 0 0 calc(.25*1em);
  }
}

nav {
  display: block;
  box-sizing: border-box;

  .shadow-sm {
    box-shadow: 0 .0625em .25em rgba(0, 0, 0, .375) !important;
  }
}

main {
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: .5em;
}

p {
  box-sizing: border-box;
  display: block;
  font-size: calc(1.2*1em);
  margin: 0 auto;
}

.header-box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

.nav-box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}

section {
  background: rgba(211, 211, 211, .5);
  margin: 0 auto;
  padding: calc(.25*1em);
}

article {
  margin: calc(.25*1em);
  padding: calc(.25*1em);
}

aside {
  font-size: .707em;
}

footer {
  font-size: .5em;
}

h1 {
  font-size: calc(3.998em * .9);
}

.h1 {
  font-size: calc(3.998em * .9);
}

h2 {
  font-size: 2.827em;
}

.h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

.h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

.h4 {
  font-size: 1.414em;
}

.p-break {
  word-break: break-all;
  word-wrap: break-word;
}

pre {
  font-size: calc(1.2*1em);
}

code {
  font-size: calc(.9*1em);
}

pre[class*="language-"] {
  background: $black_262626;
  border: .15em solid rgba(179, 179, 179, .9);
  padding: .25em;
  margin: 0 auto;
  overflow-x: auto;

  &:hover {
    border: .15em solid rgba(230, 230, 230, .9);
  }
}

:not(pre) {
  >code[class*="language-"] {
    background: $black_262626;
    border: .15em solid rgba(179, 179, 179, .9);
    padding: .25em;
  }
}

@media (min-width: 36em) {
  .container {
    max-width: 33.75em;
  }
}

@media (min-width: 48em) {
  .container {
    max-width: 40em;
  }
}

@media (min-width: 75em) {
  .container {
    max-width: 45em;
  }
}

@media (max-width: 61.99875em) {
  h1 {
    font-size: calc(3.998em * .8);
    margin: 0 0 calc(.0625*1em) 0;
  }

  .h1 {
    font-size: calc(3.998em * .8);
    margin: 0 0 calc(.0625*1em) 0;
  }

  h2 {
    margin: 0 0 calc(.0625*1em) 0;
  }

  .h2 {
    margin: 0 0 calc(.0625*1em) 0;
  }

  h3 {
    margin: 0 0 calc(.0625*1em) 0;
  }

  .h3 {
    margin: 0 0 calc(.0625*1em) 0;
  }

  header {
    h1 {
      line-height: 1;
      margin: 0;
    }
  }

  h4 {
    padding: 0 0 0 calc(.125*1em);
  }

  .h4 {
    padding: 0 0 0 calc(.125*1em);
  }
}
