<nav class="navbar-padding navbar navbar-expand-lg navbar-light bg-light nav-shadow-sm justify-content-end">
  <div class="nav-locate">
    <div class="nav-container justify-content-end">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerBootstrap" aria-controls="navbarTogglerBootstrap" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerBootstrap">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href='#'>nav</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='#'>menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='demo'>demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='blog'>blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--
  <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}

  OR

  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  </nav>
  -->
</nav>
